<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
<configuration>

  <typeAliases>
    <typeAlias type="com.neu.wms.domain.User" alias="user"/>
    <typeAlias type="com.neu.wms.query.UserQuery" alias="userQuery"/>
    <typeAlias type="com.neu.wms.domain.Dept" alias="dept"/>
    <typeAlias type="com.neu.wms.query.DeptQuery" alias="deptQuery"/>
    <typeAlias type="com.neu.wms.domain.Role" alias="role"/>
    <typeAlias type="com.neu.wms.query.RoleQuery" alias="roleQuery"/>
  </typeAliases>
  
  <!-- 指定映射文件的路径,和spring整合的时候,这个不在这里写,在spring的配置文件中编写 -->
<!--  
  <mappers>
    <mapper resource="mapper/UserMapper.xml"/>
  </mappers>  
 -->
  
  
</configuration>