<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


       <!-- 配置扫描路径 -->
       <context:component-scan base-package="com.neu.wms.controller"/>
       
       <!-- @RequestMapping生效配置 -->
       <mvc:annotation-driven/>
       
       
       <!-- 配置视图解析器 -->
       <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
           <property name="prefix" value="/WEB-INF/jsp/"/>
           <property name="suffix" value=".jsp"/>
       </bean>
       
       <!-- 配置静态源 -->
       <mvc:resources location="/static/" mapping="/static/**"></mvc:resources>
       
       <!-- 配置拦截器 -->
       <mvc:interceptors>
          <!-- 代表的含义:拦截所有的请求 -->
         <!--  <bean class="com.neu.wms.interceptor.LoginInterceptor"></bean> -->
         
         <mvc:interceptor>
            <!-- 需要拦截的路径 -->
            <mvc:mapping path="/**"/>
            <!-- 哪一些路径不需要拦截 -->
            <mvc:exclude-mapping path="/static/**"/>
            <bean class="com.neu.wms.interceptor.LoginInterceptor"/>
         </mvc:interceptor>
       
       </mvc:interceptors>
</beans>